<section>
  <h2>
    <%=book[0].title %>
  </h2>
  <h3>
    <%= book[0].author%>
  </h3>
  <img src="<%= book[0].url %>" alt="">
  <p>
    <%= book[0].description%>
  </p>
  <h4>
    <%= book[0].isbn%>
  </h4>
  <h4>
    <%= book[0].bookshelf%>
  </h4>

</section>